* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topo {
    max-width: 100%;
    min-height: 728px;
    background: url(../imagens/Grupo\ 3432.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#logo {
    max-width: 100%;
    min-height: 250px;
    margin: auto;
    background: url(../imagens/Grupo\ de\ rolagem\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#principal {
    max-width: 100%;
    display: inline;
    align-items: center;
    text-align: center;
}

#principal h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #FF006E;
}

#principal p {
    width: 476px;
    margin: 13px auto;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 24px;
    color: #4D4D4D;
}

#seta {
    width: 50.86px;
    min-height: 12px;
    margin: 31px auto;
    background: url(../imagens/Caminho\ 223.png);
    background-repeat: no-repeat;
}

#imagens {
    width: 100%;
    min-height: 865px;
    display: flex;
    flex-wrap: wrap;
}

#primeira-coluna {
    width: 100%;
    max-width: 760px;
    background: url(../imagens/Grupo\ 3452.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: auto;
}

#segunda-coluna {
    width: 100%;
    max-width: 530px;
    background: url(../imagens/Grupo\ 3430.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: auto;
}

#banner-bottom {
    width: 100%;
    min-height: 509px;
    background: url(../imagens/Grupo\ 3433.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

footer {
    max-width: 100%;
    min-height: 242px;
    background: #F5F5F5;
}

#logo-bottom {
    min-height: 130px;
    background: url(../imagens/Grupo\ 334.png);
    background-repeat: no-repeat;
}

#redes-sociais {
    
}


@media(max-width: 1440px) {

    #primeira-coluna {
        margin-left: auto;
    }
    
    #segunda-coluna {
        margin-right: auto;
    }

    #topo {
        min-height: 34vw;
    }

    #banner-bottom {
        min-height: 27vw;
    }

    footer {
        min-height: 12vw;
    }
}

@media(max-width: 1306px) {
    #primeira-coluna {
        max-width: 625px;
    }
    #segunda-coluna {
        max-width: 460px;
    }
}

@media(max-width: 1105px) {
    #logo {
        min-height: 18vw;
    }
    
    #primeira-coluna {
        margin-right: auto;
    }
    
    #segunda-coluna {
        margin-left: auto;
    }
}

@media(max-width: 767px){
    #principal h1 {
        font-size: 2em;
    }

    #principal p{
        font-size: 1.2em;
    }
}